extends layout
link(rel='stylesheet', href='css/style.css')
block content
	section.container
		.row
			.four.columns
				hr.vertical-space1
			.twelve.columns
				hr.vertical-space1
			.eleven.columns
				h2
					strong About
				h5.magic
					| About page 
					a(href='kyper') link
					|  asdf
	hr.vertical-space1